{% block toggle_password_widget %}
    <div class="toggle-password-wrapper">
        {{- block('password_widget') -}}
        <div class="{{ toggle_container_classes|join(' ') }}"></div>
    </div>
{% endblock %}