{% extends 'base.html.twig' %}

{% block title %}Livre Recettes{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quis architecto animi voluptatibus facilis quia qui est dolor ipsa in.</p>

    <h1>Accueil</h1>
{% endblock %}
