<turbo-stream action="remove" target="row_recipe_{{recipeId}}"></turbo-stream>
<turbo-stream action="append" target="flash">
<template>
	<div class="w-auto mx-auto py-2 px-5 alert alert-success text-center" style="max-width:fit-content">

		{{ message }}
	</div>
</template>
</turbo-stream>
