{% extends 'admin/admin.html.twig' %}

{% block title 'Catégorie : ' ~ category.name %}

{% block body %}
	<h2 class='text-center'>
		Editer la catégorie : {{ category.name }}
	</h2>
	{{ form_start(form) }}
	<div class=' col-3 mx-auto d-flex flex-column justify-content-center'>


		{{ form_row(form.name) }}
		{{ form_rest(form) }}
		<button type="submit" class="btn btn-sm btn-success align-self-center px-3 fs-6">Mettre à jour</button>


	</div>
{% endblock %}
